body{
background-color: black;
color: rgb(255, 149, 0);
}
#pai{
    text-align: center;
    padding: 20px 15px 0px;
}
#frase, #data{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
@font-face {
    font-family: "Clockicons";
    src: url("fonts/clockicons.ttf") format("truetype");
}
#hora{
    font-family: "Clockicons", sans-serif;
    font-size: 36px;
    font-weight: bold;
}